body {
    background-color: rgba(245, 222, 179, 0.287);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-left: 230px;
    margin-top: 50px;
}

.links a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(23, 45, 210);
}

.links a:hover {
    text-decoration: underline;
}

.blog {
    text-align: left;
}

.blog a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(23, 45, 210);
}

.blog a:hover {
    text-decoration: underline;
    text-transform: capitalize;
}
.bdate {
    font-weight: 600;
}


/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px; /* Adjust padding for smaller screens */
        margin-left: 10px; /* Adjust margin left for smaller screens */
        margin-right: 10px; /* Add right margin for smaller screens */
    }

    .links a {
        margin-bottom: 5px; /* Adjust margin between links for smaller screens */
    }

    .blog {
        padding-right: 10px; /* Adjust padding for smaller screens */
    }
}